.container_about{
    background-color: #3b5d50;
    height: 100vh;
}





.second_section_about{
   text-align: center;
}
.chooseus_content{
    padding-top: 60px;
    flex-wrap: wrap;

}
.serviceItems{
    flex-wrap: wrap;
}







@media only screen and ( max-width: 780px) {
    .chooseus_content{
        width: 200px;
        padding-top: 60px;
        flex-wrap: wrap;
    
    }
  }
