.panellSection{
    background-color: #3b5d50;
}
.content{
    color: white;
    margin-top: 140px;
    margin-left: 40px;
    text-align: left;
    padding-right: 60px;
    margin-left: 60px;


}
.content p{
    font-weight: 400;
    font-size: 16px;
    opacity: 60%;
    margin-top: 30px;


}

.gridSection{
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    flex-wrap: wrap;
    
}
.gridImages{
    width: 40%;

}
.gridImage1{
    width: 400px;
    border-radius: 15px;
    position: absolute;
}
.gridImage2{
    width: 180px;
    border-radius: 15px;
    position: relative;
    left: 420px;
}
.gridImage3{
    width: 330px;
    border-radius: 15px;
    position: relative;
    left: 270px;
    top :20px;
}
.gridText{
   width: 350px;
   /* margin-left: 230px; */
   margin-top: 10px;
   
   

    
}
.gridHeading{
    font-size: 36px;

}
.textGrid{
    font-size: 17px;
    font-weight: 500;
    opacity: 60%;
}

.chairImage{
    width: 250px;
}


@media only screen and ( max-width: 1210px) {
    
    .gridImage1{
        width: 260px;
        
    }
    .gridImage2{
        width: 120px;
        position: relative;
        left: 270px;
        
    }
    .gridImage3{
        width: 220px;
        left: 170px;
        
      
    }
    

}

@media only screen and ( max-width: 989px) {
    .gridText{
      width: fit-content;

    }
  
    

}

@media only screen and ( max-width: 455px) {
    .gridImage1{
        width: 200px;
        
    }
    .gridImage2{
        width: 80px;
        position: relative;
        left: 220px;
        
    }
    .gridImage3{
        width: 160px;
        left: 150px;
        
      
    }

}
