.sofa_img{
    width: 300px;
    position: relative;
    top: -150px;
}
.copyright{
    padding-top: 17px;
    padding-left: 30px;
    width: 80%;
    margin-left: 10%;
}
.footer_li{
    margin-right: 25px;
}
.svg2{
    font-size: 25px;
    color: #3b5d50;
    margin-left: 15px;
}
.sm_icons{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}
/* footer{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
} */


@media only screen and ( max-width: 780px) {
  .svg2{
    font-size: 16px;

}
.list-unstyled li{
    font-size: 16px;
}
.relative{
    display: flex;
    flex-direction: column ;
    text-align: center;
}
}
