.content_cart{
    background-color: #3b5d50;
    height: 50vh;
}
.heading_cart{
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-left: 160px;
    padding-top: 90px;
  
}
.cart_header{
    width: 80%;
    margin-left: 14%;
    padding-top: 40px;
    font-size: 24px;
    color: black;
    font-weight: 400;

}
.cart_header div{
    margin-right: 25px;
}
.products_cart{
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.productimg{
    width: 120px;
}

.remove-icon{
    font-size: 40px;
    color: #3b5d50;
    
}


.btn_grey{
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #302e2a;
    color: white;
    font-size: 16px;
    /* width: 140px;
    height: 50px; */
    padding: 12px 30px;
    margin-right: 20px;
}
.btn_grey:hover{
    background-color: #3b5d50;
    transition: 1s;
}
.cart_buttons{
    padding-top: 50px;

    
    
}
.totals{
    
    padding-top: 80px;
    font-size: 17px;
}

@media only screen and ( max-width: 780px) {
    .cart_header{
        width: 70%;
        font-size: 18px;
        
    
    }
    .products_cart{
        width: 70%;
        font-size: 15px

    }

}